<div class="container-fluid todo-selector text-center">
    <p class="display-5 text-shadow">Todos</p>
</div>

<div class="container">
    <div class="todo-box shadow p-4 mb-5 bg-white rounded">
        <form action="">
            <p class="display-5">New Todo</p>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-list-task"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="new todo..." aria-label="New Todo" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary text-default"><i class="bi bi-plus"></i>Add</button>
                </div>
            </div>
    
        </form>
    </div>
</div>

<div class="container">
    <div class="todo-list">
        <div class="todo-item completed">
            <div class="check-box">
                <i class="bi bi-check2"></i>
            </div>
            
            <div class="todo-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </div>

            <div class="todo-controls-box">
                <div class="todo-control-button">
                    <i class="bi bi-pencil-fill"></i>
                </div>
    
                <div class="todo-control-button danger">
                    <i class="bi bi-trash-fill"></i>
                </div>
            </div>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="bi bi-check2"></i>
            </div>

            <div class="todo-text">
                This has only one life of text.
            </div>

            <div class="todo-controls-box">
                <div class="todo-control-button">
                    <i class="bi bi-pencil-fill"></i>
                </div>
    
                <div class="todo-control-button danger">
                    <i class="bi bi-trash-fill"></i>
                </div>
            </div>
        </div>

        
    </div>  
</div>