<div class="container-fluid todo-selector text-center">
    <p class="display-5 text-shadow">Todos</p>
</div>

<div class="container add-todo-box-container">
    <div class="todo-box shadow p-4 mb-5 bg-white rounded">
        <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
            <p class="display-5">New Todo</p>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-list-task"></i>
                    </span>
                </div>
                <input ngModel #todoTextField="ngModel" required minlength="2" name="text" type="text"
                    class="form-control" placeholder="new todo..." aria-label="New Todo"
                    aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary text-default"><i class="bi bi-plus"></i>Add</button>
                </div>
            </div>
            <div *ngIf="todoTextField.invalid && showValidationErrors">
                <p class="text-danger" *ngIf="todoTextField.errors?.required">Todo text is required</p>
                <p class="text-danger" *ngIf="todoTextField.errors?.minlength">Todo text must be atlease 2 characters.
                </p>
            </div>

        </form>
    </div>
</div>

<div class="container">
    <div class="todo-list">

        <app-todo-item *ngFor="let todo of todos" 
        [todo]="todo" 
        (todoClicked)="setCompleted(todo)"
        (editClicked)="editTodo(todo)"
        (deleteClicked)="deleteTodo(todo)"></app-todo-item>
        
    </div>
</div>